	body{
		margin: 0px;
		padding: 0px;
	}
	/*.wrapper{
		max-width: 1200px;
		margin: auto;
	}*/
	.container-fluid{
		/*border-bottom:1px solid black ;*/
		background: #C0C0C0;
		color: black;
		font-size: 20px;

	}
	
	.navbar-form{
		padding-right: 5px;
	}
	table{
		color: black;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		border: 1px solid green;
	}
	.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
		border-top: 1px solid green;
		background: yellowgreen;
	}
	.btn-success{
		float: right;
		margin: 5px;
	}
	button a:hover{
     text-decoration: none;
	}
   


